1. LIST
Write a PYTHON script with List comprehension for the following
• Is the given list divisible by 3 or NOT?
• Square of even numbers in a list
• Sum of digits of all EVEN numbers in a list
• Remove duplicate numbers in a list

In [24]:
#creating a list of book stock left in inventory
book_Stock=[10,14,5,7,8,11,21,45,62,11,13,111,9,15,10,8,87,7,46]
#program to check elements are divisible by 3 or not
for x in book_Stock:
    if(x%3==0):
        print(x,"is divisible by 3")
    else:
        print(x,"is not divisible by 3")

10 is not divisible by 3
14 is not divisible by 3
5 is not divisible by 3
7 is not divisible by 3
8 is not divisible by 3
11 is not divisible by 3
21 is divisible by 3
45 is divisible by 3
62 is not divisible by 3
11 is not divisible by 3
13 is not divisible by 3
111 is divisible by 3
9 is divisible by 3
15 is divisible by 3
10 is not divisible by 3
8 is not divisible by 3
87 is divisible by 3
7 is not divisible by 3
46 is not divisible by 3

In [25]:

#another way
even_book_stock=[]
for x in book_Stock:
    if(x%3==0):
        even_book_stock.append(x)
print("The number that are divisble by 3 :",even_book_stock)

The number that are divisble by 3 : [21, 45, 111, 9, 15, 87]

In [26]:
#program to square all the even values
for x in book_Stock:
    if(x%2==0):
        print(x ,"it is even so it's square is",x**2)

10 it is even so it's square is 100
14 it is even so it's square is 196
8 it is even so it's square is 64
62 it is even so it's square is 3844
10 it is even so it's square is 100
8 it is even so it's square is 64
46 it is even so it's square is 2116

In [27]:
#program to sum all the even values
sum=0   
for x in book_Stock:
    if(x%2==0):
        sum+=x
print(sum)

158

In [28]:

#program to remove duplicate values
new_stock=[]
for x  in book_Stock:
    if x not in new_stock:
        new_stock.append(x)
print(new_stock)

[10, 14, 5, 7, 8, 11, 21, 45, 62, 13, 111, 9, 15, 87, 46]

2. Dictionary
Create a dictionary to store the details of your company employees (name as key and
birthdate as value).
{ ‘Virat Kohli’: ‘5 November 1988’, ‘Umesh Yadav’: ‘25 October 1987’, ‘Manish Pandey’:
‘10 September 1989’, ‘Rohit Sharma’: ‘30 April 1987’, ‘Ravindra Jadeja’: ‘6 December
1988’, ‘Hardik Pandya’: ‘11 October 1993’ }
Write a function birthDate() that takes the full name of your employees(as a string) and
displays the given employee’s birthdate.
>>>birthDate(‘Rohit Sharma’)
‘30 April 1987’

In [29]:
def func(cust):
    print("The Date of birth of ",cust,"is",customer[cust])

customer={
    "Ravi":"10 march 2002" , 
    "Amit":"16 april 2012",
    "Bimlesh":"7 june 2000",
    "John":"23 july 2001",
    "Ayush":"26 december 2008"

}

cust=input("Enter customer name:")
func(cust)

The Date of birth of  Bimlesh is 7 june 2000